body {
  margin: 0;
  font-family: system-ui;
  background: #111;
  color: #fff;
}

header {
  background: #000;
  padding: 15px;
  text-align: center;
  font-size: 22px;
}

#warenkorb {
  padding: 10px;
  min-height: 200px;
}

.summe {
  padding: 10px;
  font-size: 26px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #222;
  color: #fff;
}
